---
- name: Set Java environment variables
  ansible.windows.win_environment:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    level: user
    state: present
  loop:
    - { name: "JAVA_HOME", value: "{{ java_home }}" }
    - { name: "JRE_HOME", value: "{{ jre_home }}" }
    - { name: "JRE64_HOME", value: "{{ jre_home }}" }

- name: Get current user PATH entries for Zulu 17
  ansible.windows.win_shell: |
    [Environment]::GetEnvironmentVariable("PATH", "User") -split ';' |
    Where-Object { $_ -match 'Zulu\\zulu-17.*\\bin.*' }
  register: zulu17_paths
  changed_when: false
  check_mode: no

- name: Get current machine PATH entries for Zulu 17
  ansible.windows.win_shell: |
    [Environment]::GetEnvironmentVariable("PATH", "Machine") -split ';' |
    Where-Object { $_ -match 'Zulu\\zulu-17.*\\bin.*' }
  register: zulu17_paths_machine
  changed_when: false
  check_mode: no

- name: Combine user and machine Zulu 17 paths
  set_fact:
    zulu17_paths_combined: "{{ zulu17_paths.stdout_lines + zulu17_paths_machine.stdout_lines }}"

- name: Debug Zulu 17 paths to be removed
  ansible.builtin.debug:
    var: zulu17_paths_combined

- name: Remove existing Zulu 17 paths from user and machine PATH
  ansible.windows.win_path:
    elements: "{{ zulu17_paths_combined }}"
    state: absent
    scope: "{{ item }}"
  loop:
    - machine
    - user
  when: zulu17_paths_combined | length > 0
  
- name: Add Java bin directories to PATH
  ansible.windows.win_path:
    elements:
      - "{{ java_home }}\\bin"
      - "{{ jre_home }}\\bin"
    scope: "{{ item }}"
  loop:
    - machine
    - user